<div>
  <h1>Please fill the form to sign up</h1>
  <form class="signup-form" method="post" >
    <label>First name: <input type="text" ng-model="signupCtrl.firstname" style="color:black" /></label><br />
    <label>Last name: <input type="text" ng-model="signupCtrl.lastname" style="color:black" /></label><br />
    <label>E-mail: <input type="email" ng-model="signupCtrl.email" style="color:black" /></label><br />
    <label>Phone: <input type="text" ng-model="signupCtrl.phone" style="color:black" /></label><br />
    {{signupCtrl.email}}
  </form>
</div>
